<% content_for(:title) { "Small Improvements Super Sweet Dashboard" } %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
            <div data-id="iframeId1" data-view="Iframe" data-src="https://p.datadoghq.com/sb/0d166a9cd-b20a9c4e1e/"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="aww" data-view="RandomAww"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
            <div data-id="template-data-praisemanager_backend"
                 data-view="TeamCity" data-unordered="true" data-title="Build-O-Mat">
            </div>
        </li>
    </ul>
</div>
<div data-id="fullscreen" data-view="Fullscreen"></div>
