<% content_for(:title) { "Small Improvements Super Sweet Dashboard" } %>
<div class="gridster">
  <ul>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
       <div data-id="template-data-praisemanager_backend"
            data-image="/project-icon.png"
            data-view="TeamCity" data-unordered="true" data-title="TITLE">
        </div>
     </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
       <div data-id="template-data-praisemanager_frontend"
            data-image="/project-icon.png"
            data-view="TeamCity" data-unordered="true" data-title="TITLE">
        </div>
     </li>
  </ul>
</div>
