<% content_for(:title) { "Small Improvements Super Sweet Dashboard" } %>
<div class="gridster">
  <ul>
     <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
       <div data-id="template-data-praisemanager_backend"
            data-image="https://www.small-improvements.com/imageservice?id=company-logo-yH697SDASymg41ANmCA7Mg&crop=false&size=-1"
            data-view="TeamCity" data-unordered="true" data-title="Build-O-Mat">
        </div>
     </li>
  </ul>
</div>
