<% content_for(:title) { "Small Improvements Super Sweet Dashboard" } %>
<div class="gridster">
  <ul>
     <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
       <div data-id="template-data-praisemanager_backend"
            data-view="TeamCity" data-unordered="true" data-title="Build-O-Mat">
        </div>
     </li>
  </ul>
</div>
