<% content_for(:title) { "Small Improvements Super Sweet Dashboard" } %>
<script>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.numColumns = 3;
  Dashing.numRows = 2;
  Dashing.widget_base_dimensions = [(1920 - 10 * (1 + Dashing.numColumns)) / Dashing.numColumns - 10, (1080 - 10 * (1 + Dashing.numRows)) / Dashing.numRows - 8];
});
</script>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="iframeId1" data-view="Iframe" data-url="http://p.datadoghq.com/sb/0d166a9cd-b20a9c4e1e/"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
            <div data-id="template-data-praisemanager_backend"
                 data-view="TeamCity" data-unordered="true" data-title="Build-O-Mat">
            </div>
        </li>
        <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="aww" data-view="RandomAww"></div>
        </li>
    </ul>
</div>
